body {
   margin: 0;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background: #f5f5f5;
}
header {
   background: #042141;
   color: rgba(255, 255, 255, 0.907);
   padding: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header nav a {
   color: rgba(255, 255, 255, 0.907);
   margin-left: 15px;
   text-decoration: none;
   font-size: 14px;
}
#hero {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px;
   background: rgba(255, 255, 255, 0.907);
}
#hero img {
   width: 200px;
   height: 200px;
   border-radius: 50%;
}
.highlight {
   color: #ff6b40;
}
section {
   padding: 20px;
   margin-top: 10px;
}
h2 {
   margin-bottom: 10px;
}
.skills-box {
   display: flex;
   gap: 10px;
}
.card {
   background: #042141;
   color: rgba(255, 255, 255, 0.907);
   padding: 15px;
   text-align: center;
   flex: 1;
}
.project-card {
   background: rgba(255, 255, 255, 0.907);
   padding: 20px;
   margin: 10px auto;
   text-align: center;
   border: 1px solid #ddd;
   border-radius: 8px;
   max-width: 600px;
}
form {
   background: rgba(255, 255, 255, 0.907);
   padding: 20px;
   max-width: 300px;
   margin: auto;
   border: 1px solid rgba(255, 255, 255, 0.907);
}
input, textarea {
   width: 100%;
   padding: 8px;
   margin-bottom: 10px;
   border: 1px solid #042141;
}
button {
   width: 100%;
   padding: 10px;
   background: #042141
   color: white;
   border: none;
}
footer {
   background: #042141;
   color: rgba(255, 255, 255, 0.907);
   text-align: center;
   padding: 10px;
   margin-top: 20px;
}
#backtop {
   position: fixed;
   bottom: 20px;
   right: 20px;
   background: #042141;
   color: rgba(255, 255, 255, 0.907);
   padding: 8px 12px;
   text-decoration: none;
   font-size: 12px;
}
.highlight {
    color: #40efff;
    animation: colorChange 3s infinite alternate;
}
@keyframes colorChange {
    0% { color: red; }
    25% { color: yellowgreen; }
    50% { color: blueviolet; }
    75% { color: blue; }
    100% { color:rgb(255, 0, 89); }
}

